# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/

# Virtual environments
venv/
env/
.venv/

# IDE & Editors
.vscode/
.idea/

# OS junk files
.DS_Store
Thumbs.db
desktop.ini

# Python packaging
*.egg-info/
.eggs/
dist/
build/
